@import "tailwindcss";

@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/poppins/900.css";

@theme {
  --color-background: #e4e2dd;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-background);
}
