---
import type { CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";
import HeaderBar from "~/components/HeaderBar.astro";
import Layout from "~/layouts/Layout.astro";

const allContent = await getCollection("pages");
const entry: CollectionEntry<"pages"> | undefined = allContent.find((e) => e.id === "fortaleza-criterio-seleccion");

if (!entry) {
	throw new Error("No se encontró el contenido de fortaleza-criterio-seleccion");
}

const { Content } = await render(entry);
---

<Layout>
	<HeaderBar />

	<div class="container">
		<!-- Article Intro -->
		<h2 class="mb-12 text-center text-2xl leading-relaxed font-bold">
			Criterio de selección de las fortalezas
		</h2>

		<article class="prose lg:prose-xl max-w-none columns-1 gap-8 md:columns-2">
			<Content />
		</article>
	</div>
</Layout>
