@layer theme, base, components, utilities;
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/poppins/900.css";

@theme {
	--color-blanco: #e4e2dd;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: var(--color-blanco);
}

.stretched-link {
	@apply after:absolute after:inset-0;
}

.container {
	@apply mx-auto p-4;
}
