---
interface Props {
  videoId: string;
  title?: string;
  autoplay?: boolean;
}

const { videoId, title = 'Video', autoplay = false } = Astro.props;
---

<div class="relative w-full aspect-video rounded-xl overflow-hidden shadow-lg bg-stone-900">
  <iframe
    src={`https://www.youtube-nocookie.com/embed/${videoId}${autoplay ? '?autoplay=1' : ''}`}
    title={title}
    class="absolute inset-0 w-full h-full"
    loading="lazy"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
