---
const currentYear = new Date().getFullYear();
---

<footer class="bg-gray-900 py-8 text-center text-white">
	<div class="mx-auto max-w-7xl px-4">
		<p class="mb-3">&copy; {currentYear} Equilibrados Espinosa</p>
		<p>Polígono Industrial Cotes Baixes, Calle B, Nº 13D, 03804 Alcoy, Alicante</p>
	</div>
</footer>
