---
const currentYear = new Date().getFullYear();
---

<footer class="bg-gray-900 py-8 text-center text-white">
	<div class="mx-auto max-w-7xl px-4">
		<p>&copy; {currentYear} Equilibrados Espinosa. Todos los derechos reservados.</p>
	</div>
</footer>
