---
---
<header class="header">
  <a href="/" class="logo-link">
    <img src="/logo.svg" alt="Espinosa Logo" class="logo" />
  </a>
</header>

<style>
  .header {
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  .logo-link {
    display: block;
  }

  .logo {
    height: 60px;
    width: auto;
  }
</style>
