---
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection, render } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";

export async function getStaticPaths() {
	const posts = await getCollection("cultura");
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<"cultura">;

const post = Astro.props;
const { Content } = await render(post);
---

<div class="relative flex h-[70vh] items-center justify-center overflow-hidden">
	<Image src={post.data.heroImage} alt="Propósito real" class="absolute inset-0 h-full w-full object-cover" />

	<div class="absolute inset-0 bg-black/50"></div>

	<!-- Title Over Image -->
	<div class="relative z-10 px-10 text-center">
		<h1
			class="mb-6 text-4xl leading-none font-black tracking-tight text-white uppercase sm:text-5xl md:text-6xl lg:text-7xl"
		>
			Propósito real
		</h1>
		<div class="mx-auto h-1 w-32 bg-white"></div>
	</div>
</div>
<BlogPost {...post.data}>
	<Content />
</BlogPost>
